#main {
    width: 500px;
    margin: 100px auto;
    padding: 60px 50px 100px;
    text-align: center;
    font-size: 40px;
    border-radius: 40px;
    border: 3px solid #eee;
}

#main div {
    display: inline-block;
    width: 50px;
    margin: 3px;
    padding: 10px;
    font-weight: bold;
}

#controls {
    text-align: center;
}

#controls button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 50px;
    color: #fff;
    border-radius: 30px;
}

#controls button:nth-of-type(1) {
    background: #4caf50;
}

#controls button:nth-of-type(2) {
    background: #f44336;
}

#controls button:nth-of-type(3) {
    background: #2196f3;
}

#controls button:hover {
    background: #333;
    color: #e0e0e0;
    border-radius: 40px;
}












